.footerbox {
  color: white;
  font-family: 'Roboto', sans-serif;
  border: solid;
  border-color: green;
  width: 250px;
  margin: 20px;
  display: inline-block; }
.fa {
  padding: 20px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.6;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 50%;
}
.fa-vimeo {
  background: #45bbff;
  color: white;
  border-radius: 50%;
}
.fa-reddit {
  background: #ff5700;
  color: white;
  border-radius: 50%;
}
.made {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	padding: 5px;
}
#copyright {
  color:white; 
  font-family: 'Roboto', sans-serif; 
  background-color: green; 
  padding: 20px; 
  margin-bottom: 0px;
}
