.footerbox {
  color: white;
  font-family: 'Roboto', sans-serif;
  border: solid;
  border-color: green;
  width: 250px;
  margin: 20px;
  display: inline-block; }
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 50%;
}
.fa-vimeo {
  background: #00CC99;
  color: white;
  border-radius: 50%;
}
.made {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	padding: 10px;
}
