.desc {
  font-family: sans-serif;
  color: $plain-black;
  text-decoration: none;
}
.card {
  background-color: white;
  font-family: sans-serif; }
  .card img {
    width: 100%;
    height: auto; }

.rpwe-time {
  font-size: 12px;
  color: black;
}
.tags-title {
  color: green;
}